*,
*::after,
*::before {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;

}

body {
    background-color: rgb(50, 176, 235);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

}

header {
    font-size: 24px;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    background-image: url('../assets/beach.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 220px;

}

.header__text {
    color: black;
    text-align: center;
    padding: 98px 0;

}


main {
    width: 90%;
    margin: 0 auto;

}

.wrapper {
    flex: 1 0 auto;

}

footer {
    width: 90%;
    margin: 0 auto;
    flex-shrink: 0;

}